<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/deals.js"></script>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="./">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="./deals">Saved Deals</a>
      </li>
      <li class="nav-item">
        <a id="scrape-submit" class="btn btn-primary" >Scrape Website</a>
      </li>
    </ul>
  </div>
</nav>

  
<div id="wrapper">
    {{!-- Deals --}}
    <div id='deals'>
        <h3>Saved Deals:</h3>
        <ul id="deal-list" class="list-group">
            {{#each deal}}
                <li data-id="{{_id}}" class="deal-item list-group-item list-group-item-action">
                    <script type="text/x-handlebars-template"></script>
                        <img class="image" src="{{imageURL}}">
                        <h5 class="title">{{title}}</h5>
                        <a class="btn btn-primary" href="{{link}}" role="button">Link</a>
                        <button class="btn btn-success" id="display-note" data-id="{{_id}}">Display Notes</button>
                    </script>
                </li>
            {{/each}}
        </ul>
    </div>

    {{!-- Notes --}}
    <div id="notes">
    </div>
</div>
