<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/deals.js"></script>

  
<div class='container-fluid'>
    {{!-- Deals --}}
    <div id='deals' class="col-8">
        <h3>Saved Deals:</h3>
        <ul id="deal-list" class="list-group">
            {{#each deal}}
                <li data-id="{{_id}}" class="deal-item list-group-item list-group-item-action">
                    <script type="text/x-handlebars-template"></script>
                        <img class="image" src="{{imageURL}}">
                        <h5 class="title">{{title}}</h5>
                        <a class="btn btn-primary" href="{{link}}" role="button">Link</a>
                        <button class="btn btn-success" id="display-note" data-id="{{_id}}">Display Notes</button>
                        <button class="btn btn-danger" id="delete-deal" data-id="{{_id}}">Delete Deal</button>
                    </script>
                </li>
            {{/each}}
        </ul>
    </div>

    {{!-- Notes --}}
    <div id="notes" class="col-4">
    </div>
</div>
